<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>小虎进销存管理系统</title>
    <link rel="shortcut icon" th:href="@{/static/img/tiger.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/purchase/supplier.css}">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/jquery/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/mainPage.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/purchase/supplier.js}"></script>
</head>
<body>
<!--顶部-->
<header class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">小虎进销存管理系统</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>管理员账号</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            点我
                            <span class="caret"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">个人信息</a></li>
                                <li class="divider"></li>
                                <li><a href="#">切换账号</a></li>
                                <li class="divider"></li>
                                <li><a href="#">退出登录</a></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--左侧导航栏-->
<aside class="sidebar navbar-fixed-top">
    <nav class="sidebar-nav">
        <ul th:id="menu">
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-shopping-cart"></span>
                    <span class="sidebar-nav-item">订货管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/supplier/toSupplier}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>供应商管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/purchase/toPurchaseOrder}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-list-alt"></span>
                            <span>采购订单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-piggy-bank"></span>
                    <span class="sidebar-nav-item">销售管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/customer/toCustomer}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>客户管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/sale/toSaleOrder}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-list-alt"></span>
                            <span>销售订单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-home"></span>
                    <span class="sidebar-nav-item">库存管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/stock/toStocktaking}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-inbox"></span>
                            <span>库存盘点</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/stock/toInbound}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-copy"></span>
                            <span>商品入库</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/stock/toOutbound}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-paste"></span>
                            <span>商品出库</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-pencil"></span>
                    <span class="sidebar-nav-item">订单审核</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/orderAudit/toPurchaseAudit}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-star"></span>
                            <span>采购单审核</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/orderAudit/toSaleAudit}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-star"></span>
                            <span>销售单审核</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-book"></span>
                    <span class="sidebar-nav-item">信息管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/message/toGoodsMessage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-gift"></span>
                            <span>商品信息</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/message/toEmployeeMessage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>员工信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-cloud"></span>
                    <span class="sidebar-nav-item">统计分析</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/analysis/toSaleAnalysis}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-piggy-bank"></span>
                            <span>销售分析</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/analysis/toProfitAnalysis}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-yen"></span>
                            <span>盈亏分析</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-hdd"></span>
                    <span class="sidebar-nav-item">系统管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/system/toUserManage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>用户权限管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/system/toBackUp}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-floppy-save"></span>
                            <span>数据备份</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

<div class="main-div">
    <!--路径栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-style" role="navigation">
        <i class="glyphicon glyphicon-home nav-font"></i>
        <a th:href="@{/index}">首页</a>
        <span>></span>
        <span>订货管理</span>
        <span>></span>
        <span>供应商管理</span>
        <a th:href="@{/supplier/toSupplier}" class="btn btn-success btn-refresh" title="刷新"><i class="glyphicon glyphicon-repeat refresh-font"></i></a>
    </nav>
    <div class="supplier-container">
        <article class="common-article">
            <div class="common-header">
            <span class="float-left">
                <a onclick="supplierModal();" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>新增供应商</a>
            </span>
                <span class="float-center">
                供应商名称：
                <input type="text" id="search" name="search" size="10"/>
                <a class="btn btn-success">查询<i class="glyphicon glyphicon-search"></i></a>
            </span>
                <span class="pd-5 float-right">共有数据：<strong th:text="${count}"></strong>条</span>
            </div>
            <div class="common-body">
                <table class="table table-bordered table-hover common-table table-striped">
                    <thead>
                    <tr class="info">
                        <th>供应商编号</th>
                        <th>公司名称</th>
                        <th>联系人</th>
                        <th>联系人职位</th>
                        <th>地址</th>
                        <th>城市</th>
                        <th>电话</th>
                        <th>传真</th>
                        <th>邮政编码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="suppliers:${suppliers}">
                        <td th:text="${suppliers.supplierID}"></td>
                        <td th:text="${suppliers.companyName}"></td>
                        <td th:text="${suppliers.contactName}"></td>
                        <td th:text="${suppliers.contactTitle}"></td>
                        <td th:text="${suppliers.address}"></td>
                        <td th:text="${suppliers.city}"></td>
                        <td th:text="${suppliers.phone}"></td>
                        <td th:text="${suppliers.fax}"></td>
                        <td th:text="${suppliers.postalCode}"></td>
                        <td>
                            <a onclick="addSupplier();" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>编辑</a>
                            <a onclick="addSupplier();" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div align="center">
                    <ul class="pagination">
                        <li><a th:href="@{/supplier/toSupplier}">首页</a></li>
                        <li th:class="${currentPage == 1}?'disabled':''">
                            <a th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage - 1}}">&laquo;</a>
                        </li>
                        <li>
                            <a th:if="${currentPage - 4 >= 1  && currentPage == totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage - 4}}">[[${currentPage - 4}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage - 3 >= 1  && currentPage == totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage - 3}}">[[${currentPage - 3}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage - 2 >= 1}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage - 2}}">[[${currentPage - 2}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage - 1 >= 1}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage - 1}}">[[${currentPage - 1}]]</a>
                        </li>
                        <li class="active"><a th:href="@{'/supplier/supplierInfo?currentPage' + ${currentPage}}" th:text="${currentPage}">[[${currentPage}]]</a></li>
                        <li>
                            <a th:if="${currentPage + 1 <= totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage + 1}}">[[${currentPage + 1}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage + 2 <= totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage + 2}}">[[${currentPage + 2}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage + 3 <= totalPage  && currentPage == totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage + 3}}">[[${currentPage + 3}]]</a>
                        </li>
                        <li>
                            <a th:if="${currentPage + 4 <= totalPage  && currentPage == totalPage}" th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage + 4}}">[[${currentPage + 4}]]</a>
                        </li>
                        <li th:class="${currentPage == totalPage} ? 'disabled' : ''">
                            <a th:href="@{'/supplier/supplierInfo?currentPage=' + ${currentPage + 1}}">&raquo;</a>
                        </li>
                        <li><a th:href="@{'/supplier/supplierInfo?currentPage=' + ${totalPage}}">尾页</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</div>

<!--模态框 新增供应商-->
<div class="modal fade" id="newSupplier" aria-label="supplierModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增供应商</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div class="form-group">
                        <label for="companyName">公司名称</label>
                        <span style="color: red">*</span>
                        <input type="text" id="companyName" name="companyName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="contactName">联系人</label>
                        <span style="color: red">*</span>
                        <input type="text" id="contactName" name="contactName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="contactTitle">联系人职位</label>
                        <input type="text" id="contactTitle" name="contactTitle" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="address">地址</label>
                        <span style="color: red">*</span>
                        <input type="text" id="address" name="address" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="city">城市</label>
                        <span style="color: red">*</span>
                        <input type="text" id="city" name="city" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">电话</label>
                        <span style="color: red">*</span>
                        <input type="text" id="phone" name="phone" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="fax">传真</label>
                        <input type="text" id="fax" name="fax" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="postalCode">邮政编码</label>
                        <input type="text" id="postalCode" name="postalCode" class="form-control"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="addSupplier()">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>