<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>小虎进销存管理系统</title>
    <link rel="shortcut icon" th:href="@{/static/img/tiger.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.3.7/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/mainPage.css}">
    <link rel="stylesheet" th:href="@{/static/css/purchase/supplier.css}">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <script type="text/javascript" th:src="@{/static/jquery/jquery-3.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/mainPage.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/stock/stockManage.js}"></script>
</head>
<body>
<!--顶部-->
<header class="navbar-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">小虎进销存管理系统</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>管理员账号</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">
                            点我
                            <span class="caret"></span>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">个人信息</a></li>
                                <li class="divider"></li>
                                <li><a href="#">切换账号</a></li>
                                <li class="divider"></li>
                                <li><a href="#">退出登录</a></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--左侧导航栏-->
<aside class="sidebar navbar-fixed-top">
    <nav class="sidebar-nav">
        <ul th:id="menu">
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-shopping-cart"></span>
                    <span class="sidebar-nav-item">订货管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/supplier/toSupplier}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>供应商管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/purchase/purchaseOrder}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-list-alt"></span>
                            <span>采购订单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-piggy-bank"></span>
                    <span class="sidebar-nav-item">销售管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/customer/toCustomer}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>客户管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/sale/saleOrder}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-list-alt"></span>
                            <span>销售订单</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-home"></span>
                    <span class="sidebar-nav-item">库存管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/stock/toStocktaking}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-inbox"></span>
                            <span>库存盘点</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/stock/stockManage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-copy"></span>
                            <span>出入库管理</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-book"></span>
                    <span class="sidebar-nav-item">产品管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/product/toProductMessage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-gift"></span>
                            <span>产品信息</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/product/add}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>新增产品</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-cloud"></span>
                    <span class="sidebar-nav-item">统计分析</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/analysis/toSaleAnalysis}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-piggy-bank"></span>
                            <span>销售分析</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/analysis/toProfitAnalysis}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-yen"></span>
                            <span>盈亏分析</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" class="menu-main" onclick="return false;">
                    <span class="sidebar-nav-item-icon glyphicon glyphicon-hdd"></span>
                    <span class="sidebar-nav-item">系统管理</span>
                    <span class="fa fa-angle-left menu-list" ></span>
                </a>
                <ul class="collapse">
                    <li>
                        <a th:href="@{/system/toUserManage}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-user"></span>
                            <span>用户权限管理</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/system/toBackUp}">
                            <span class="sidebar-nav-item-icon glyphicon glyphicon-floppy-save"></span>
                            <span>数据备份</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

<div class="main-div">
    <!--路径栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-style" role="navigation">
        <i class="glyphicon glyphicon-home nav-font"></i>
        <a th:href="@{/index}">首页</a>
        <span>></span>
        <span>库存管理</span>
        <span>></span>
        <span>出入库管理</span>
        <a th:href="@{/stock/stockManage}" class="btn btn-success btn-refresh" title="刷新"><i class="glyphicon glyphicon-repeat refresh-font"></i></a>
    </nav>
    <div class="supplier-container">
        <article class="common-article">
            <div class="row form-inline" style="margin-top: 10px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>订单状态：</label>
                        <select id="orderStatus" class="form-control">
                            <option>待入库</option>
                            <option>待出库</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="common-body">
                <table id="stockItem" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr class="info">
                        <th></th>
                        <th>订单编号</th>
                        <th>订单日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order:${order}">
                        <td>
                            <a href="" onclick="expandOrder(this);return false;">
                                <span class="fa fa-angle-right" style="color: black;"></span>
                            </a>
                        </td>
                        <td th:text="${order.orderID}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td>
                            <a onclick="inbound(this)" class="btn btn-info">
                                <i class="glyphicon glyphicon-copy"></i>
                                入库
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</div>
<!--模态框 移库-->
<div class="modal fade" id="moveStock" aria-label="supplierModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">移库</h4>
            </div>
            <div class="modal-body">
                <div class="row form-inline">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="form-group">
                            <label>库存区域：</label>
                            <select class="form-control" id="stockArea" name="stockArea" style="width: 100px">
                                <option th:each="area:${stockArea}" th:value="${area.stockArea}" th:text="${area.stockArea}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="save">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>