<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.mapper.CustomerMapper">
    <select id="allCustomer" resultType="customer">
        select * from customers limit #{0}, #{1}
    </select>

    <select id="selCount" resultType="int">
        select count(*) from customers
    </select>

    <insert id="insCustomer">
        insert into customers
        values (
            #{customerID},
            #{companyName},
            #{contactName},
            #{contactTitle},
            #{address},
            #{city},
            #{postalCode},
            #{phone},
            #{fax}
        )
    </insert>

    <update id="updCustomer">
        update customers set
        customerID = #{customerID},
        companyName = #{companyName},
        contactName = #{contactName},
        contactTitle = #{contactTitle},
        address = #{address},
        city = #{city},
        postalCode = #{postalCode},
        phone = #{phone},
        fax = #{fax}
        where customerID = #{customerID}
    </update>

    <delete id="delCustomer">
        delete from customers where customerID = #{0}
    </delete>

    <select id="selByCompanyName" resultType="customer">
        select * from customers where companyName like "%"#{0}"%"
    </select>

    <select id="selByCustomerID" resultType="customer">
        select * from customers where customerID = #{0}
    </select>

</mapper>