<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.mapper.PurchaseMapper">
    <select id="selCategory" resultType="category">
        select * from categories
    </select>

    <select id="selByCategoryID" resultType="product">
        select * from products where categoryID = #{0}
    </select>

    <select id="selSupplier" resultType="supplier">
        select * from suppliers
    </select>

    <insert id="insPurchaseOrder">
        insert into purchase_order values
         (#{orderID}, #{supplierID}, #{employeeID}, #{orderDate}, #{flag}, #{remark})
    </insert>

    <insert id="insPurchaseOrderDetail">
        insert into purchase_order_detail values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.orderID},
                #{item.productID},
                #{item.purchasePrice},
                #{item.quantity},
                #{item.totalPrice}
            )
        </foreach>
    </insert>

    <select id="selPurchaseOrder" resultType="map">
        select orderID, companyName, username, orderDate, remark, flag
        from purchase_order p, suppliers s, user_list u
        where p.supplierID = s.supplierID and p.employeeID = u.employeeID
        limit #{0}, #{1}
    </select>
    <select id="selCount" resultType="int">
        select count(*) from purchase_order
    </select>

    <select id="selByOrderID" resultType="map">
        select productName, purchasePrice, quantity, totalPrice
        from purchase_order_detail detail, products
        where orderID = #{0} and detail.productID = products.productID
    </select>

    <select id="selOrderByFlag" resultType="map">
        select orderID, companyName, username, orderDate, remark, flag
        from purchase_order p, suppliers s, user_list u
        where p.supplierID = s.supplierID and p.employeeID = u.employeeID
        <if test="flag != null">
            and flag = #{flag}
        </if>
        <if test="startDate != null and endDate != null">
            and orderDate between #{startDate} and #{endDate}
        </if>
    </select>

    <delete id="delOrder">
        delete p,d from purchase_order p
        left join purchase_order_detail d
        on p.orderID = d.orderID
        where p.orderID = #{0}
    </delete>

    <update id="updOrder">
        update purchase_order set flag = #{0} where orderID = #{1}
    </update>

    <update id="updStock">
        update stock set unitsInStock = unitsInStock -
        <foreach collection="list" item="item" index="index" separator=" " open="case productID" close="end">
            when #{item.productID} then #{item.quantity}
        </foreach>
        where productID in (
            <foreach collection="list" item="item" index="index" separator=",">
                #{item.productID}
            </foreach>
        )
    </update>

    <update id="updProduct">
        update products set unitsOnOrder = unitsOnOrder -
        <foreach collection="list" item="item" index="index" separator=" " open="case productID" close="end">
            when #{item.productID} then #{item.quantity}
        </foreach>
        where productID in (
        <foreach collection="list" item="item" index="index" separator=",">
            #{item.productID}
        </foreach>
        )
    </update>

    <select id="selDetail" resultType="purchaseOrderDetail">
        select * from purchase_order_detail where orderID = #{0}
    </select>
</mapper>