<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzt.mapper.SupplierMapper">
    <select id="allSupplier" resultType="supplier">
        select * from suppliers limit #{0}, #{1}
    </select>

    <select id="selCount" resultType="int">
        select count(*) from suppliers
    </select>

    <select id="selByCompanyName" resultType="supplier">
        select * from suppliers where companyName like "%"#{0}"%"
    </select>

    <insert id="insSupplier">
        insert into suppliers
        values(
            default,
            #{companyName},
            #{contactName},
            #{contactTitle},
            #{address},
            #{city},
            #{postalCode},
            #{phone},
            #{fax}
        )
    </insert>

    <select id="selBySupplierID" resultType="supplier">
        select * from suppliers where supplierID = #{0}
    </select>

    <update id="updSupplier">
        update suppliers set
        companyName = #{companyName},
        contactName = #{contactName},
        contactTitle = #{contactTitle},
        address = #{address},
        city = #{city},
        postalCode = #{postalCode},
        phone = #{phone},
        fax = #{fax}
        where supplierID = #{supplierID}
    </update>

    <delete id="delSupplier">
        delete from suppliers where supplierID = #{0}
    </delete>

    <select id="selSupplierByNames" resultType="supplier">
        select * from suppliers
        where companyName in
        <foreach collection="list" item="companyName" index="index" open="(" separator="," close=")">
            #{companyName}
        </foreach>
    </select>

    <select id="selAllSupplier" resultType="supplier">
        select * from suppliers
    </select>
</mapper>